<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{%block title%}{%end%}</title>
        <meta name="title" content="{%block title%}{%end%}" />
        <meta name="description" content="Create and share youtube playlists." />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>
        <div id="header">
            <form id="s" action="/player">
                <label onclick="document.getElementById('s').submit()"><a>Search</a></label>
                <input type="text" id="q" name="q" value="{{q}}"/>
            </form>
            {%if current_user()%}
                <a href="/signout">Sign Out</a>
                <span class="username"><a>{{current_user()[:current_user().find('@')]}}</a>
                    <div id="user-dd">
                        <a href="/recent">Recent Playlists</a>
                        <a href="/shared">Shared Playlists</a>
                    </div>
                </span>
            {%else%}
                <a href="/signin">Sign In</a>
                <a href="/signup">Create Account</a>
            {%end%}
        </div>
        {%block content%}{%end%}
        <div id="footer">© 2011 eightlegs.tv</div>
    </body>
</html>
