<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Edit Playlist — eightlegs.tv</title>
        <meta name="title" content="Edit Playlist — eightlegs.tv" />
        <meta name="description" content="Create and share youtube playlists." />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>
        <div id="header">
            <form id="s" action="/player">
                <label onclick="document.getElementById('s').submit()">Search</label>
                <input type="text" id="q" name="q" value="{{q}}"/>
            </form>
            <span>Andrew
                <div id="user-dd"></div>
            </span>
            <span>Logout</span>
        </div>
        <div id="content">
            <h1>Edit Playlist: Top Hits</h1>
            <ul>
                <li><span>Lady Gaga - Telephone</span><a href>Remove</a></li>
                <li><span>Justin Beiber - Love</span><a href>Remove</a></li>
            </ul>
        </div>
        <div id="footer">© 2011 eightlegs.tv</div>
    </body>
</html>
