{%extends "base.html"%}

{%block title%}Be a spider, not a spud — eightlegs.tv{%end%}
{%block content%}
    <div id="player">
        <div id="pre-player"></div>
        <div id="left-player"></div>
        <object type="application/x-shockwave-flash" id="ytplayer" width="640" height="420" style="visibility: visible;"
            data="http://www.youtube.com/v/{{v}}&amp;enablejsapi=1&amp;playerapiid=ytplayer&amp;autoplay=1&amp;rel=0" >
            <param name="allowScriptAccess" value="always">
            <param name="allowFullScreen" value="true">
        </object>
        <div id="right-player"></div>
        <div id="post-player"></div>
        <div id="rate">
            <a href><img title="Add to playlist" src="/thumb_up.png"></img></a>
            <a href="/player?q={{escape.url_escape(q)}}"><img title="Skip to next video" src="/thumb_down.png"></img></a>
        </div>
    </div>
{%end%}
