<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Be a spider, not a spud — eightlegs.tv</title>
        <meta name="title" content="Be a spider, not a spud — eightlegs.tv" />
        <meta name="description" content="The internet video site for lazy people." />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <div id="header">
            <span onclick>Andrew</span>
            <span>Logout</span>
        </div>
        <div id="player">
            <object>
                <param name="movie" value="http://www.youtube.com/v/u1zgFlCw8Aw?version=3?version=3&autoplay=1&color1=0x222222&color2=0xff5555&showsearch=0&showinfo=0&feature=player_embedded">
                <param name="allowFullScreen" value="true">
                <param name="allowScriptAccess" value="always">
                <embed src="http://www.youtube.com/v/u1zgFlCw8Aw?version=3?version=3&autoplay=1&color1=0x222222&color2=0xff5555&showsearch=0&showinfo=0&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="390">
            </object>
            <a>+</a>
            <a>-</a>
        </div>
        <div id="footer">© 2011 eightlegs.tv</div>
    </body>
</html>
