<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Be a spider, not a spud — eightlegs.tv</title>
        <meta name="title" content="Be a spider, not a spud — eightlegs.tv" />
        <meta name="description" content="The internet video site for lazy people." />
        <link rel="stylesheet" type="text/css" href="/style.css"/>
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>
        <div id="header">
            <span onclick>Andrew</span>
            <span>Logout</span>
        </div>
        <div id="player">
            <!-- <object width="640" height="415" id="ytplayer">
                <param name="movie" value="http://www.youtube.com/v/{{v}}&hl=en_US&feature=player_embedded&version=3?autoplay=1&enablejsapi=1&color1=0xb1b1b1&color2=0xcfcfcf&showsearch=0&showinfo=0&iv_load_policy=3&feature=player_embedded"></param>
                <param name="allowFullScreen" value="true"></param>
                <param name="allowScriptAccess" value="always"></param>
                <embed src="http://www.youtube.com/v/{{v}}&hl=en_US&feature=player_embedded&version=3?autoplay=1&enablejsapi=1&color1=0xb1b1b1&color2=0xcfcfcf&showsearch=0&showinfo=0&iv_load_policy=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="415"></embed>
            </object> -->
            <object  type="application/x-shockwave-flash" id="ytplayer" width="640" height="415" style="visibility: visible; "
                data="http://www.youtube.com/v/{{v}}&amp;enablejsapi=1&amp;playerapiid=ytplayer&amp;autoplay=1&amp;rel=0&amp;fs=1&amp;hd=1" >
                <param name="allowScriptAccess" value="always">
                <param name="allowFullScreen" value="true">
            </object>
            <a>+</a>
            <a>-</a>
        </div>
        <div id="footer">© 2011 eightlegs.tv</div>
    </body>
</html>
