{%extends "base.html"%}

{%block title%}Sign In — eightlegs.tv{%end%}
{%block content%}
    <div id="content">
        <h1>Sign In</h1>
        <ul>
            <li><span>Funny Videos (5)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Music (123)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Biology (33)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Funny Videos (23)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Music (231)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Biology (123)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Funny Videos (423)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Music (12)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Biology (99)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Funny Videos (78)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Music (1)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
            <li><span>Biology (2)</span><a href>Edit</a><a href>Play</a><a href>Share</a></li>
        </ul>
    </div>
{%end%}
